/target
__pycache__/
*.py[cod]
*.o
*.elf
.DS_Store
/firmware/build/*
!/firmware/build/.gitkeep
/firmware/silicon/build/
/web/dist/
/packages/*/target/
/packages/saturn/dist/
/packages/saturn/exports.json
